{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/add_prop.css' %}">
<script src="{% static 'static/javascript/app.js' %}"></script>
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"

          integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
          integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="./css/style.css">
    <!-- Title -->
    <title>Landlord | Sell, Buy, and Rent Property </title>
</head>

<body>
<!-- Start Navbar -->
<div class="navbar">
    <div class="navbar-margin">
        <div class="navbar-left-section">
            <a class="logo" style="text-decoration: none;" href="/"><b style="color: #22577e;">e</b>House</a>
            <span>
                <a href="/app/property_buy">Buy</a>
                <a href="/app/property_rent">Rent</a>
                <a href="/app/show_apartments">Appartments</a>
                <a href="/app/addcontact">Contact</a>
            </span>

        </div>
        <div class="navbar-right-section">

            <button onclick="run()" class="barz"><i class="fa fa-bars"></i></button>
        </div>
    </div>
</div>
<!-- End Navbar -->

<!-- Sidebar -->
<!-- Sidebar will showed us when screen size will be 880 -->
<div class="sidebar">
    <a href="disable" disabled></a>
    <a href="/app/property_buy">Buy</a>
    <a href="/app/property_rent">Rent</a>
    <a href="/app/addcontact">Contact</a>
</div>
<div class="side-lay">
    <a class="times" href="#">
        <i class="fa fa-times"></i>
    </a>
</div>


<div class="add_property">

    <form class="complete_form" action="/apartment" method="post" enctype="multipart/form-data">

        <h2 class="headtext">Add Property</h2> <br>
        <div class="user_demand_margin">
            <h2>I want to _____ Property</h2>
            <div id="radio">
{#                <input type="hidden" name="type" id="sell" value="sell">#}
                <label style="height:40px" class="not-active active" for="sell">Sell</label>

                <label style="height:40px" class="not-active" for="rent">Rent</label>
                <input type="hidden" name="type" id="type" value="sell">
            </div>

        </div>
        <div class="p_title">
            <label for="ice-cream-choice">Select Property type:</label>
            <input list="ice-cream-flavors" id="apartment_type" name="apartment_type"/>

            <datalist id="ice-cream-flavors">
                <option value="Home">
                <option value="Hostel">
                <option value="Shop">
                <option value="Building">
            </datalist>
        </div>
        <div class="p_title">
            <label for="#">Add Title</label>
            <input type="text" placeholder="10 Marla Luxury Home " name="title" id="title">
        </div>
        <div class="p_description">
            <label for="#">Description</label>
            <textarea name="description" placeholder="Enter About Property 50-400 words" id="description" cols="30"
                      rows="10"></textarea>
        </div>
        <div class="p_furnished">
            <label for="#">Furnished</label>
            <select name="property_status" id="property_status">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
        </div>
        <div class="p_bedrooms">
            <label for="#">Bedrooms</label>
            <input type="text" name="no_of_rooms" id="no_of_rooms"/>
        </div>
        <div class="p_bathrooms">
            <label for="#">Bathrooms</label>
            <input type="text" name="no_of_washrooms" id="no_of_washrooms">
        </div>

        <div class="p_area_unit">
            <label for="#">Area Unit</label>
            <select name="area_unit" id="area_unit_id">
                <option value="kanal">Kanal</option>
                <option value="marla">Marla</option>
                <option value="square feet">Square Feet</option>
                <option value="square meter">Square Meter</option>
                <option value="square yards">Square Yards</option>
            </select>
        </div>


        <div class="p_area">
            <label for="#">Area</label>
            <input type="text" placeholder="10" name="area" id="area_id">

        </div>
        <div class="p_area">
            <label for="#">Longitude</label>
            <input type="text" placeholder="10" name="longitude" id="Longitude">

        </div>
        <div class="p_area">
            <label for="#">Latitude</label>
            <input type="text" placeholder="10" name="latitude" id="Latitude">

        </div>
        <div class="p_price">
            <label for="#">Set Price</label>
            <input type="text" placeholder="1.2 Crore" name="price" id="price">

        </div>
        <div style="display: block;font-size: 16px;font-weight: bolder;margin: 20px;" class="or">
            or
        </div>
        <div class="p_price">
            <label for="#">Set Rent Per Month</label>
            <input type="text" placeholder="29 Thousand" name="price" id="price">

        </div>

        <label for="#">Upload Upto 10 Photos</label><br>
        <div class="p_photos">

            <label class="custom-file-upload">
                <input type="file" name="image1"/>
                <i class="fa fa-camera"></i>
            </label>
            <label class="custom-file-upload">
                <input type="file" name="image2"/>
                <i class="fa fa-camera"></i>
            </label>
            <label class="custom-file-upload">
                <input type="file" name="image3"/>
                <i class="fa fa-camera"></i>
            </label>
            <label class="custom-file-upload">
                <input type="file" name="image4"/>
                <i class="fa fa-camera"></i>
            </label>
            <label class="custom-file-upload">
                <input type="file" name="image5"/>
                <i class="fa fa-camera"></i>
            </label>
            <label class="custom-file-upload">
                <input type="file" name="image6"/>
                <i class="fa fa-camera"></i>
            </label>
            <label class="custom-file-upload">
                <input type="file" name="image7"/>
                <i class="fa fa-camera"></i>
            </label>
            <label class="custom-file-upload">
                <input type="file" name="image8"/>
                <i class="fa fa-camera"></i>
            </label>
            <label class="custom-file-upload">
                <input type="file" name="image9"/>
                <i class="fa fa-camera"></i>
            </label>
            <label class="custom-file-upload">
                <input type="file" name="image10"/>
                <i class="fa fa-camera"></i>
            </label>
        </div>


        <div class="p_state">
            <label for="#">Confirm Location</label>
            <label for="#">Select State/Province</label>
            <input type="text" name="state" id="state_id"/>
        </div>
        <div class="p_city">
            <label for="#">Select City</label>
            <input type="text" placeholder="City Name" name="city" id="city_id">
        </div>
        <div class="p_street_adress">
            <label for="#">Street Adress</label>
            <input type="text" placeholder="H#15a2, Johar Town" name="street_address" id="street_address_id">
        </div>
        <button class="submit" type="submit">Post Now</button>
    </form>
</div>
<footer>
    <div class="content">
        <div class="top">
            <div class="logo-details">
                <i class="fa fa-building"></i>
                <span class="logo_name">Landlord</span>
            </div>
        </div>
        <div class="link-boxes">
            <ul class="box">
                <li><a href="/">Home</a></li>
                <li><a href="/app/addcontact">Contact us</a></li>
                <li><a href="/app/detail_contact">Abouts us</a></li>
            </ul>
        </div>
    </div>
    <div class="bottom-details">
        <div class="bottom_text">

                <span class="policy_terms">
                    <a href="#">Privacy policy</a>
                    <a href="#">Terms & condition</a>
                </span>
            <span class="copyright_text">Copyright © 2022-2023 <a href="#">Landlord.</a>All rights reserved</span>
        </div>
    </div>
</footer>

<script>


    const labels = document.querySelectorAll('.p_features label');


    labels.forEach(label => {
        label.addEventListener('click', function () {
            label.style.backgroundColor = '#0077b5';
            label.style.color = 'white';
        })
    })


    var radio = document.getElementById('radio')


    var label = radio.getElementsByClassName("not-active");

    for (var i = 0; i < label.length; i++) {
        label[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
            var radio_type = document.getElementById("type")
            if (radio_type.value == "sell"){
                radio_type.value="rent"
            }
            else {
                radio_type.value="sell"
            }
        });
    }


    function run() {
        document.querySelector(".sidebar").classList.add("showSidebar");
        document.querySelector(".side-lay").classList.add("showSidebar");
    }

    document
        .querySelector(".side-lay")
        .addEventListener("click", function () {
            document.querySelector(".sidebar").classList.remove("showSidebar");
            document.querySelector(".side-lay").classList.remove("showSidebar");
        });

    const sidebar = document.querySelector(".pop-up-form");
    const overlay = document.querySelector(".pop-up-overlay");
    const times = document.querySelector(".tim");
    const bars = document.querySelector(".add");

    bars.addEventListener("click", function () {
        sidebar.classList.toggle("show");
        overlay.classList.add("show");
    });
    const login = document.querySelector('.login');
    login.addEventListener('click', function () {
        sidebar.classList.toggle('show');
        overlay.classList.add('show');
        document.querySelector('.sidebar').classList.remove('showSidebar');
        document.querySelector('.side-lay').classList.remove('showSidebar');
    });
    overlay.addEventListener("click", function () {
        sidebar.classList.remove("show");
        sidebar.style.transition = "0.3s ease-in";
        overlay.classList.remove("show");
    });

    times.addEventListener("click", function () {
        sidebar.classList.remove("show");
        sidebar.style.transition = "0.3s ease-in";
        overlay.classList.remove("show");
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
        integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- External Javascript -->
<script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
<script src="./javascript/app.js"></script>
</body>

</html>
