{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/add_prop.css' %}">
<script src="{% static './javascript/app.js' %}"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"

          integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
          integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="./css/style.css">
    <!-- Title -->
    <title>Landlord | Sell, Buy, and Rent Property </title>
</head>
<body>
<!-- Start Navbar -->
<div class="navbar">
    <div class="navbar-margin">
        <div class="navbar-left-section">
            <a class="logo" style="text-decoration: none;" href="/"><b style="color: #22577e;">e</b>House</a>
            <span>
                <a href="/app/property_buy">Buy</a>
                <a href="/app/property_rent">Rent</a>
                <a href="/app/show_apartments">Appartments</a>
                <a href="/app/addcontact">Contact</a>
            </span>

        </div>
        <div class="navbar-right-section">

            <button onclick="run()" class="barz"><i class="fa fa-bars"></i></button>
        </div>
    </div>
</div>
<!-- End Navbar -->

<!-- Sidebar -->
<!-- Sidebar will showed us when screen size will be 880 -->
<div class="sidebar">
    <a href="disable" disabled></a>
    <a href="/app/property_buy">Buy</a>
    <a href="/app/property_rent">Rent</a>
    <a href="/app/show_apartments">Appartments</a>
    <a href="/app/addcontact">Contact</a>
</div>
<div class="side-lay">
    <a class="times" href="">
        <i class="fa fa-times"></i>
    </a>
</div>
{% if data %}
    <div style="margin: 20px 20px 200px">
        <p> Name: {{ data.name }}</p>
        <p> Phone no: {{ data.phone }}</p>
        <p> Email: {{ data.email }}</p>
    </div>
{% else %}
    <h2 style="margin: 20px 20px 300px"> Contact info is not added yet </h2>
{% endif %}


<p></p>
<footer>
    <div class="content">
        <div class="top">
            <div class="logo-details">
                <i class="fa fa-building"></i>
                <span class="logo_name">Landlord</span>
            </div>
        </div>
        <div class="link-boxes">
            <ul class="box">
                <li><a href="/">Home</a></li>
                <li><a href="/app/addcontact">Contact us</a></li>
                <li><a href="/app/detail_contact">Abouts us</a></li>
            </ul>
        </div>
    </div>
    <div class="bottom-details">
        <div class="bottom_text">

                <span class="policy_terms">
                    <a href="#">Privacy policy</a>
                    <a href="#">Terms & condition</a>
                </span>
            <span class="copyright_text">Copyright © 2022-2023 <a href="#">Landlord.</a>All rights reserved</span>
        </div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
        integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- External Javascript -->
<script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
<script src="./javascript/app.js"></script>
</body>
</html>
