{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/add_prop.css' %}">
<script src="{% static './javascript/app.js' %}"></script>
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"

          integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
          integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="./css/style.css">
    <!-- Title -->
    <title>Landlord | Sell, Buy, and Rent Property </title>
</head>

<body>
<!-- Start Navbar -->
<div class="navbar">
    <div class="navbar-margin">
        <div class="navbar-left-section">
            <a class="logo" style="text-decoration: none;" href="/"><b style="color: #22577e;">e</b>House</a>
            <span>
                <a href="/app/property_buy">Buy</a>
                <a href="/app/property_rent">Rent</a>
                <a href="/app/show_apartments">Appartments</a>
                <a href="/app/addcontact">Contact</a>
            </span>

        </div>
        <div class="navbar-right-section">

            <button onclick="run()" class="barz"><i class="fa fa-bars"></i></button>
        </div>
    </div>
</div>
<!-- End Navbar -->

<!-- Sidebar -->
<!-- Sidebar will showed us when screen size will be 880 -->
<div class="sidebar">
    <a href="disable" disabled></a>
    <a href="/app/property_buy">Buy</a>
    <a href="/app/property_rent">Rent</a>
    <a href="/app/addcontact">Contact</a>
</div>
<div class="side-lay">
    <a class="times" href="#">
        <i class="fa fa-times"></i>
    </a>
</div>


<div class="grid-images">
    <div class="grid-images-90">
        <div class="title">
            <div>
                <h2>{{ data.title }} {{ data.city }} </h2>
                <h2 class="pkr">PKR <span>{{ data.price }}</span></h2>
            </div>
            <div class="two_buttons">
                <a href="tel:03059379621"><i class="fa fa-phone"></i></a>
                <a href="#">
                    <div class="fa fa-envelope"></div>
                </a>
            </div>
        </div>

        <div style="margin-left:40px;">
            {% for img1 in imgdata %}

                <!--        {% load static %}<img src='{% static "{{img1.pictures}}" %}' alt="Hi!" />-->


                <img src="{% static img1 %}" alt="" width="270px" height="385px">
                <!--    <img src="static/{{img1.pictures}}" width="270px" height="385px">-->
            {% endfor %}
        </div>
        <div class="description" style="margin-bottom: 5vh;"><br>
            <p>
                <span style="font-size: 22px;font-weight: bolder;">About This Property: </span><br>
                {{ data.description }}
            </p>
        </div>
        <ul>
            <h2>Key Features: </h2>
            <li>Appartment Type: {{ data.apartment_type }}</li>
            <li>{{ data.no_of_washrooms }} Bathrooms</li>
            <li>{{ data.no_of_rooms }} Bedrooms</li>
            <li>Beautifull Location</li>
        </ul>
        <div class="location_map">
            <h2>Property Location</h2><br>
            <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d54508.467991546786!2d74.14597639065776!3d31.365070343690476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3918ff9a30fa362d%3A0x528615a7981ce611!2sBahria%20Town%2C%20Lahore%2C%20Punjab!5e0!3m2!1sen!2s!4v1644580025420!5m2!1sen!2s"
                    width="100%" height="100%" style="border:0;" allowfullscreen="true" loading="lazy"></iframe>
        </div>
    </div>
</div>


<div class="all_images">

</div>

<div class="all_images_90">
    <div class="image_cover">
        <img src="https://cdn.pixabay.com/photo/2016/11/18/17/46/house-1836070__480.jpg" alt="">
    </div>
    <div class="image_list">

    </div>

</div>


<ul style="margin-left:70px; list-style-type:none;">
    <h2>Owner Infomation: </h2>

    <li>Name: {{ condata.name }} </li>
    <li>Phone: {{ condata.phone }} </li>
    <li>Email: {{ condata.email }} </li>

</ul>


<div class="pop-up-form">
    <div class="popup-head">
        <h2>Sign In</h2>
        <i class="fa fa-times tim"></i>
    </div>
    <form action="#" class="popup-body">
        <h2></h2>
        <input type="text" placeholder="Email Adress or Phone" name="" id="">
        <input type="text" placeholder="Password" name="" id="">
        <a href="#" class="forget">Forget Password?</a>
        <button type="submit">Sign In</button>
        <br><br>
        <div class="re">
            <p class="forget">Or Sign in with </p>
            <a href="#">
                <img src="https://img.icons8.com/color/10/000000/google-logo.png"/>
            </a>
            <a href="#">
                <img src="https://img.icons8.com/color/25/000000/facebook-new.png"/>
            </a>
        </div>
        <div class="popup-last">
            <a href="signup.html">
                Create Free Account Now
            </a>
        </div>
    </form>

</div>
</div>
<div class="pop-up-overlay"></div>

<!-- Start Footer -->
<footer>
    <div class="content">
        <div class="top">
            <div class="logo-details">
                <span class="logo_name">Landlord</span>
            </div>
        </div>
        <div class="link-boxes">
            <ul class="box">
                <li><a href="/">Home</a></li>
                <li><a href="/app/addcontact">Contact us</a></li>
                <li><a href="/app/detail_contact">Abouts us</a></li>
            </ul>
        </div>
    </div>
    <div class="bottom-details">
        <div class="bottom_text">

                <span class="policy_terms">
                    <a href="#">Privacy policy</a>
                    <a href="#">Terms & condition</a>
                </span>
            <span class="copyright_text">Copyright © 2022-2023 <a href="#">Landlord.</a>All rights reserved</span>
        </div>
    </div>
</footer>

<!-- End Footer -->
<script>


    function run() {
        document.querySelector('.sidebar').classList.add('showSidebar');
        document.querySelector('.side-lay').classList.add('showSidebar');
    };


    document.querySelector('.side-lay').addEventListener('click', function () {

        document.querySelector('.sidebar').classList.remove('showSidebar');
        document.querySelector('.side-lay').classList.remove('showSidebar');
    })


    const grid = document.querySelectorAll('.grid .grid0 img');
    console.log(grid);

    grid.forEach(each => {


        each.addEventListener('click', () => {
            document.querySelector('.image_cover img').src = each.src;
            document.querySelector('.all_images').classList.add('showed');
            document.querySelector('.all_images_90').classList.add('showed');

        });


    })
    grid.forEach(each => {
        const imgTag = document.createElement('img');
        const image_list_o = document.querySelector('.image_list');
        imgTag.src = each.src;
        image_list_o.appendChild(imgTag)

    });


    document.querySelector('.all_images').addEventListener('click', () => {

        document.querySelector('.all_images').classList.remove('showed');
        document.querySelector('.all_images_90').classList.remove('showed');
    })


    // get random image when press btn


    const sidebar = document.querySelector('.pop-up-form');
    const overlay = document.querySelector('.pop-up-overlay');
    const times = document.querySelector('.tim');
    const bars = document.querySelector('.add');


    bars.addEventListener('click', function () {
        sidebar.classList.toggle('show');
        overlay.classList.add('show')
    });
    const login = document.querySelector('.login');
    login.addEventListener('click', function () {
        sidebar.classList.toggle('show');
        overlay.classList.add('show');
        document.querySelector('.sidebar').classList.remove('showSidebar');
        document.querySelector('.side-lay').classList.remove('showSidebar');
    });
    overlay.addEventListener('click', function () {
        sidebar.classList.remove('show');
        sidebar.style.transition = '0.3s ease-in'
        overlay.classList.remove('show')
    })


    times.addEventListener('click', function () {
        sidebar.classList.remove('show');
        sidebar.style.transition = '0.3s ease-in'
        overlay.classList.remove('show')
    })
    const image_list = document.querySelectorAll('.image_list img');


    image_list.forEach(e => {
        e.addEventListener('click', function () {
            document.querySelector('.image_cover img').src = e.src;
        })
    })


</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
        integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- External Javascript -->
<script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
<script src="./javascript/app.js"></script>
</body>
</html>